body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  overflow: hidden;

  background: rgb(44, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(44, 238, 238, 1) 0%,
    rgba(48, 139, 147, 1) 50%,
    rgba(62, 138, 166, 1) 100%
  );
  color: aliceblue;
}
.container {
  width: 80%;
  margin: auto;
}
.logo {
  font-size: 25px;
  text-decoration: none;
  width: 30%;
  float: left;
  display: block;
  margin: 10px 0;
  color: aliceblue;
}
ul {
  width: 70%;
  float: left;
  padding: 0;
  text-align: right;
}
ul a {
  text-decoration: none;
  color: aliceblue;
  margin: 0 15px;
}
.img-fluid {
  float: right;
  margin: 0;
  padding: 0;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: #308b93;
  bottom: 0;
  left: 0;
  width: 100%;
}
.jumpo {
}
.para {
  color: aliceblue;
}
.CardHeader {
  background: rgb(44,238,238);
  background: linear-gradient(90deg, rgba(44,238,238,1) 0%, rgba(48,139,147,1) 50%, rgba(62,138,166,1) 100%);
 }
